header
    link(rel="stylesheet", href="/assets/css/header.css")
    .logo
        h1 GatherX
    nav
        ul
            li: a(href="/") Home
            li: a(href="/login") Login
            li: a(href="/register") Register
            li: a(href="/about") About Us
