doctype html
html(lang="en")
  head
    title Your Page Title
    //- link(rel="stylesheet" href="/path/to/header.css")
    //- link(rel="stylesheet" href="/path/to/footer.css")
    block styles 
  
  body
    
    include includes/header

    main
      block content 

    
    include includes/footer
