* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column; /* Change to column to allow footer to be at the bottom */
    height: 100vh; /* Full viewport height */
    color: #333;
    text-align: center;
}

header, footer {
    width: 100%; /* Full-width */
    background-color: #08C2FF;
    color: white;
}

header {
    position: fixed; /* Fixes header at the top */
    top: 0;
    left: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensures header is on top */
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1; /* Allows main content to expand and push the footer down */
    padding: 80px 20px 20px; /* Add padding-top to create space for header */
    background-color: #f4f4f4;
    display: flex; /* Use flexbox to center the card */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

footer {
    text-align: center;
    padding: 10px 0;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
}

.social-icons a:hover {
    color: #ffcc00;
}

.success-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%; /* Ensure it takes full width of the parent */
}

h1 {
    color: #08C2FF;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
}
